.lotto-input {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-top: 1px solid black;
  &__ball {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &--error {
    color: red;
  }
}
